---
import { firebaseConfig } from "~/components/shared/firebase";
import Host from "~/components/preact/Host";
import Main from "~/components/astro/Main.astro";
---

<Main>
  <section class="mt-4 container grid grid-cols-1 gap-4">
    <Host client:load firebaseConfig={firebaseConfig} />
  </section>
</Main>
