---
import Main from "~/components/astro/Main.astro";
import Host from "~/components/preact/Host";
---

<Main>
  <section class="mt-8 container grid grid-cols-1 gap-4">
    <Host client:load />
  </section>
</Main>
