---
import Main from "~/components/astro/Main.astro";
import Player from "~/components/preact/Player";
---

<Main>
  <section class="mt-8 container grid grid-cols-1 gap-4">
    <Player client:load />
  </section>
</Main>
