---
import { Icon } from "astro-icon";

import ThemeSwitcher from "~/components/astro/ThemeSwitcher.astro";
---

<header
  id="page-header"
  class="z-10 flex items-center justify-between w-full px-8 py-2 fixed top-0 bottom-auto bg-violet-900 text-white"
>
  <a
    class="flex items-center gap-3 nav-text hover:!text-default drop-shadow-lg hover:drop-shadow-xl"
    href="/"
  >
    <h1 class="sr-only">Quiz</h1>
    <Icon name="logomark" class="h-10" />
    <Icon name="wordmark" class="hidden h-4 sm:block" />
  </a>
  <div>
    <div class="flex items-center gap-6">
      <ThemeSwitcher />
    </div>
  </div>
</header>

<style>
  .fixed-header {
    @apply shadow-xl;
  }
</style>
