---
import Main from "~/components/main.astro";
---

<Main>
  <h1 class="text-center">Quiz</h1>
  <section class="mt-48 container max-w-md grid grid-cols-1 gap-4">
    <button
      class="bg-primary hover:bg-secondary text-white font-bold py-2 px-4 rounded"
    >
      Start
    </button>
    <button
      class="bg-primary hover:bg-secondary text-white font-bold py-2 px-4 rounded"
    >
      Something Else
    </button>
  </section>
</Main>
