---
import Main from "~/components/main.astro";
import Play from "~/components/Play.jsx";
---

<Main>
  <section class="mt-8 container grid grid-cols-1 gap-4">
    <Play client:load />
  </section>
</Main>
