---
const year = new Date().getFullYear();
---

<footer class="relative flex items-center justify-center h-64">
  <span class="text-sm text-center">
    <br />
    <br />
    &copy; {year > 2022 ? `2022-${year}` : year} Aidan Timson
    <br />
    Source available on{" "}
    <a
      href="https://github.com/timmo001/quiz"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </a>
    <br />
    <br />
  </span>
</footer>
