---
import Head from "~/components/Head.astro";
import Header from "~/components/Header.astro";

const { title } = Astro.props;
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <Head title={title} />
  </head>
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Header />
    <main class="px-8 py-20">
      <slot />
    </main>
  </body>
</html>
